<!DOCTYPE html>
<html>

<head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <base href='{{baseURL}}' />
</head>

<body>
    {{{body}}}
</body>

</html>
